<header>
  <nav class="menu">
    <div class="basisNav" >
      <img class="face" src="../../assets/face.png" alt="face">
        <div class="burger" >
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>
    <ul class="nav-wrapper">
      <li>
        <a [routerLink]="['/about']">{{title.about}}</a>
      </li>
      <li>
        <a [routerLink]="['/school']">{{title.school}}</a>
      </li>
      <li>
        <a [routerLink]="['/experiance']">{{title.experiance}}</a>
      </li>
      <li>
        <a [routerLink]="['/skills']">{{title.skills}}</a>
      </li>
      <li>
        <a [routerLink]="['/projects']">{{title.projects}}</a>
      </li>
      <li>
        <a [routerLink]="['/interests']">{{title.interests}}</a>
      </li>
      <li>
        <a [routerLink]="['/contact']">{{title.contact}}</a>
      </li>
    </ul>
  </nav>
</header>



