// Size of rwd break points
$break_xsmall: 320px;
$break_small: 480px;
$break_medium: 768px;
$break_large: 1366px;
$break_xlarge: 1920px;

$wscreen: 100vw;
$hscreen: 100vh;

// Styles for all device screens

.nav-wrapper {
    padding: 0;
    margin: 0;

}

// Smaller than Xsmall device screens
@media (max-width: $break_xsmall){

    .menu{
        position: absolute;
        width: 100vw;
        height: 10vh;
        


        .basisNav {
            width: 100vw;
            height: 50px;
            background-color: #b16a2e;
            .face {
              height: 50px;
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
            }

            .burger {
              width: 35px;
              height: 30px;
              margin: 10px 10px;
              position: relative;
              cursor: pointer;
              display: block;
              float: right;
              
              span {
                background-color: lightgrey;
                position: absolute;
                border-radius: 2px;
                transition: .3s cubic-bezier(.8, .5, .2, 1.4);
                width: 100%;
                height: 4px;

                &:nth-child(1){
                  top: 0px;
                  left: 0px;
                }

                &:nth-child(2){
                  top: 13px;
                  left: 0px;
                }

                &:nth-child(3){
                  bottom: 0px;
                  left: 0px;
                }

              }

              &:not(.clickMenu):hover {

                span {

                  &:nth-child(1){
                    transform: scaleY(1.2);
                    left: -5px;
                  }
                  &:nth-child(2){
                    transform: rotate(5deg) scaleY(1.1);
                  }
                  &:nth-child(3){
                    transform: scaleY(1.2);
                    left: 5px;
                  }
                }

              }

            }
            
            .clickMenu {

              span {

                &:nth-child(1){
                  transform: rotate(45deg) scaleX(0.7);
                  top: 13PX;
                  left: -8px;
                }
                &:nth-child(2){
                  transform: scale(0);
                  transition-duration: 50ms;
                }
                &:nth-child(3){
                  transform: rotate(-45deg) scaleX(0.7);
                  top: 13PX;
                  left: 7px;
                }

              }

            }

        }

        .nav-wrapper {
            display: none;
            &.on-wrapper {
                background-color: #cc7833;
                position: relative;
                display: block;
                width: 100%;
    
                li {
                    text-align: center;
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-weight: 4vh;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                    
                }
                li:hover {
                    background-color: #8d787e;
                }
            }
        }

    }


}

// Xsmall device screens >320px
@media (min-width: $break_xsmall+1) and (max-width: $break_medium){
  .menu{
    position: absolute;
    width: 100vw;
    height: 10vh;
    
    .basisNav {
        width: 100vw;
        height: 70px;
        background-color: #b16a2e;
        
        .face {
          height: 70px;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
        }

        .burger {
          width: 60px;
          height: 45px;
          margin: 10px 10px;
          position: relative;
          cursor: pointer;
          display: block;
          float: right;
          
          span {
            background-color: lightgrey;
            position: absolute;
            border-radius: 2px;
            transition: .3s cubic-bezier(.8, .5, .2, 1.4);
            width: 100%;
            height: 6px;

            &:nth-child(1){
              top: 0px;
              left: 0px;
            }

            &:nth-child(2){
              top: 20px;
              left: 0px;
            }

            &:nth-child(3){
              bottom: 0px;
              left: 0px;
            }

          }

          &:not(.clickMenu):hover {

            span {

              &:nth-child(1){
                transform: scaleY(1.2);
                left: -5px;
              }
              &:nth-child(2){
                transform: rotate(15deg) scaleY(1.1);
              }
              &:nth-child(3){
                transform: scaleY(1.2);
                left: 5px;
              }
            }

          }

        }
        
        .clickMenu {

          span {

            &:nth-child(1){
              transform: rotate(45deg) scaleX(0.7);
              top: 20px;
              left: -13px;
            }
            &:nth-child(2){
              transform: scale(0);
              transition-duration: 50ms;
            }
            &:nth-child(3){
              transform: rotate(-45deg) scaleX(0.7);
              top: 20px;
              left: 13px;
            }

          }

        }

    }

    .nav-wrapper {
        display: none;
        &.on-wrapper {
          border-top: 1px outset  grey;
            background-color: #cc7833;
            position: relative;
            display: block;
            //width: 100%;

            li {
                text-align: center;
                list-style: none;
                a {
                    text-decoration: none;
                    font-weight: 6vh;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                
            }
            li:hover {
                background-color: #8d787e;
            }
        }
    }

}


}


// Small device screens >480px;


// Medium device screens >768px 
@media (min-width: $break_medium+1){

  .menu {
    //position: absolute;
    width: 100vw;
    height: 120px;
    background-color: #b16a2e;
    .basisNav {
      height: 100px;
      //background-color: #b16a2e;

      .face {
        height: 100px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
      }

    }

    .nav-wrapper {
      display: block;
      height: 50px;
      //border: 1px dashed green;
      width: 84vw;
      margin: 0 auto;
      li{
        list-style: none;
        position: relative;
        float: left;
        margin-left: 1vw;
        margin-right: 1vw;
        text-align: center;
        width: 10vw;
        //border: 1px solid black;
        a {
          text-decoration: none;
          font-weight: bold;
          color: #D9C192; 

          &:hover {
            color: lightgray;
          }
          

          &:hover:after {
            content: '';
            position: absolute;
            border-bottom: 4px solid grey;
           //border-left: 1px solid grey;
            //border-right: 1px solid grey;
            width: 100%;
            //height: 100px;
            left: 0;
            top: 100%;
            //background: url('../../assets/face.png') no-repeat;
            //background-size: contain;
            
          }
          
        }
        
        

      }


      
    }
  }


}


 