<section id="home">
  <mat-card class="welcome">
    <mat-card-header>
      <mat-card-title>Dominik Sar</mat-card-title>
      <mat-card-subtitle>Fullstack developer</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-card-subtitle>
        {{content.title}}
      </mat-card-subtitle>
      <p>
        {{content.text}}
      </p>
      <a href="/about">See more about me</a>
      </mat-card-content>
    <mat-card-actions>
      <p>{{content.questionnaire}}</p>
      <button mat-button>LIKE</button>
      <button mat-button>!LIKE</button>
    </mat-card-actions>
  </mat-card>


  <!-- <mat-card class="socialmedia">
      <mat-card-header>
        <mat-card-title>Social Media</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <a href=""><img src="../../assets/facebook_ico.png"></a>
        <a href=""><img src="../../assets/github_ico.png"></a>
        <a href=""><img src="../../assets/instagram_ico.png"></a>
        <a href=""><img src="../../assets/linkedln_ico.png"></a>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card> -->


</section>